omnipath_server_log/*
pypath_log/*

# Cache folders
omnipath_server/*__pycache__*/*
omnipath_server/loader/*__pycache__*/*
omnipath_server/schema/*__pycache__*/*
omnipath_server_django/*__pycache__*/*
